name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: npm install
      - run: npm run test
      - run: npx prettier . --check
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: npm install
      - run: npm run build
      - run: zip -r build.zip out/*
      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: build.zip
  infra-preview:
    runs-on: ubuntu-latest
    needs: [test, build]
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: actions/download-artifact@v4
        with:
          name: build
      - run: unzip build.zip
      - run: npm install
      - uses: pulumi/actions@v4
      - run: cd infrastructure && pulumi login ${{ secrets.PULUMI_CLOUD_URL }} && cd ..
      - run: cd infrastructure && pulumi preview --stack dev --non-interactive && cd ..
      - run: cd infrastructure && pulumi preview --stack production --non-interactive && cd ..
    env:
      PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-west-2"
  deploy-dev:
    runs-on: ubuntu-latest
    needs: [test, build]
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: actions/download-artifact@v4
        with:
          name: build
      - run: unzip build.zip
      - run: npm install
      - uses: pulumi/actions@v4
      - run: cd infrastructure && pulumi login ${{ secrets.PULUMI_CLOUD_URL }} && cd ..
      - run: cd infrastructure && pulumi up --stack dev --yes --non-interactive && cd ..
    env:
      PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-west-2"
  deploy-production:
    runs-on: ubuntu-latest
    needs: [test, build]
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: actions/download-artifact@v4
        with:
          name: build
      - run: unzip build.zip
      - run: npm install
      - uses: pulumi/actions@v4
      - run: cd infrastructure && pulumi login ${{ secrets.PULUMI_CLOUD_URL }} && cd ..
      - run: cd infrastructure && pulumi up --stack production --yes --non-interactive && cd ..
    env:
      PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-west-2"
  release:
    runs-on: ubuntu-latest
    needs: [deploy-production]
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: actions/download-artifact@v4
        with:
          name: build
      - name: get-npm-version
        id: package-version
        run: |
          VERSION=$(node -e "console.log(JSON.parse(fs.readFileSync('package.json')).version.replace(/\.\d+$/, ''))")
          VERSION+=".${{ github.run_number }}"
          echo "package-version=$(echo $VERSION)" >> $GITHUB_OUTPUT
      - name: create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build.zip"
          name: Release ${{ steps.package-version.outputs.package-version }}
          tag: v${{ steps.package-version.outputs.package-version }}
