name: Production Deployment

on:
  push:
    branches: [main]

jobs:
  deploy:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      stack: production
      environment: production
      run-deploy: true
    secrets:
      PULUMI_CLOUD_URL: ${{ secrets.PULUMI_CLOUD_URL }}
      PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  release:
    runs-on: ubuntu-latest
    needs: [deploy]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: actions/download-artifact@v4
        with:
          name: build-production
      - name: get-npm-version
        id: package-version
        run: |
          VERSION=$(node -e "console.log(JSON.parse(fs.readFileSync('package.json')).version.replace(/\.\d+$/, ''))")
          VERSION+=".${{ github.run_number }}"
          echo "package-version=$(echo $VERSION)" >> $GITHUB_OUTPUT
      - name: create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build.zip"
          name: Release ${{ steps.package-version.outputs.package-version }}
          tag: v${{ steps.package-version.outputs.package-version }}
